# LLM
GROQ_API_KEY=ta_cle_groq_ici

# Vector DB (Pinecone)
PINECONE_API_KEY=your_pinecone_api_key_here
PINECONE_INDEX=agentic-ia

# LangSmith
LANGSMITH_TRACING=true
LANGSMITH_ENDPOINT=https://api.smith.langchain.com
LANGSMITH_API_KEY=your_langsmith_api_key_here
LANGSMITH_PROJECT=Agentic-RAG

# Server
PORT=5000